extends ../_layouts/base

include ../_modules/slider/slider
include ../_modules/share/share
include ../_modules/section-title/section-title
include ../_modules/top-footer/top-footer

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

block content
    main.contacto
        section.contacto__hero
            .container
                .row
                    .col-xs-24
                        .contacto__hero__data
                            +section-title(site.data.contacto.titulo, 'h1', 'x')
        
        section.contacto__body
            .container
                .row
                    .col-xs-24.col-sm-16.col-sm-offset-4
                        +section-title(site.data.contacto.subtitulo, 'h2', 'x')
                        .row
                            each item in site.data.contacto.adicionales
                                .col-xs-24.col-sm-12
                                    .contacto__feature
                                        .contacto__feature__icon
                                            img(src=item.icon)
                                        h3.contacto__feature__title=item.titulo
                                        p.contacto__feature__text=item.contenido
                                        p.contacto__feature__data
                                            strong Mail:
                                            a(href="mailto:#{item.mail}")= item.mail
                                        p.contacto__feature__data
                                            strong Phone:
                                            a(href="tel:#{item.phone}")= item.phone
                                            
        section.contacto__map
            .contacto__map__img
                a(href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2763.6053641324825!2d-71.22764897823893!3d-34.540914934824656!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x96647dcf97aeac3f%3A0x29173e2d8792a020!2sVi%C3%B1a+Vik+Hotel!5e0!3m2!1ses!2sar!4v1524116888597", id="home-map")
                    img(src="/images/home/map.jpg")
            
        section.contacto__address
            .container
                .row
                    .col-xs-24.col-sm-8.col-sm-offset-8
                        .contacto__address__icon
                            img(src="/images/contacto/icono3.png")
                        h3.contacto__address__title=site.data.contacto.direccion.nombre
                        p.contacto__address__text=site.data.contacto.direccion.direccion
                        p.contacto__address__data
                            strong Mail:
                            a(href="mailto:#{site.data.contacto.direccion.mail}")= site.data.contacto.direccion.mail
                        p.contacto__address__data
                            strong Phone:
                            a(href="tel:#{site.data.contacto.direccion.phone}")= site.data.contacto.direccion.phone
                            
        +top-footer(['historia', 'vinos'])
            
