extends ../_layouts/base

include ../_modules/slider/slider
include ../_modules/share/share
include ../_modules/section-title/section-title
include ../_modules/top-footer/top-footer

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

block content
    main.reserva
        section.reserva__hero
            .container
                .row
                    .col-xs-24.col-sm-12.col-sm-offset-6
                        .reserva__hero__data
                            +section-title(site.data.reserva.principal.titulo, 'h1', 'x')
                            p.reserva__hero__text= site.data.reserva.principal.contenido
        
        section.reserva__enoturismo
            .container
                .row
                    .col-xs-24.col-sm-12.col-sm-offset-6
                        +section-title(site.data.reserva.seccion1.titulo, 'h2', 'none')
                        each p in site.data.reserva.seccion1.contenido  
                            p.reserva__enoturismo__text= p
                        a._button(href=site.data.reserva.seccion1.boton.url)= site.data.reserva.seccion1.boton.nombre
        
        section.reserva__actividades
            .container-fluid
                .row
                    .col-xs-24
                        +section-title('Actividades', 'h2', 'none')
                    each item in site.data.reserva.actividades
                        .col-xs-24.reserva__actividad
                            .row.nopadding.flexrow
                                .col-xs-24.col-sm-12
                                    .reserva__actividad__img
                                        img(src=item.imagen)
                                .col-xs-24.col-sm-12.flexcol
                                    .reserva__actividad__data
                                        +section-title(item.titulo, 'h3', 'x')
                                        p.reserva__actividad__data__text=item.texto
                                        if item.extra
                                            .reserva__actividad__extra
                                                each link in item.extra
                                                    a(href=link.url)= link.nombre
            
        section.reserva__info
            .container
                .row
                    .col-xs-24.col-sm-8.col-sm-offset-8
                        +section-title(site.data.reserva.seccion2.titulo, 'h2', 'none')
                        p.reserva__info__text!=site.data.reserva.seccion2.texto
                        
                        
