extends _layouts/base

include _modules/slider/slider
include _modules/section-title/section-title

block content
    main.home
        section.home__hero
            +slider('home__slider')
                each slide in site.data.home.slider
                    .home__slide
                        if slide.type == 'video'
                            .embed-responsive.embed-responsive-16by9.home__slide__video
                                iframe.embed-responsive-item(src=slide.src)
                        if slide.type == 'imagen'
                            .home__slide__img
                                img(src=slide.src)
                                
            a.home__hero__next(href="#nuestros-vinos")
                i.material-icons keyboard_arrow_down
        
        section#nuestros-vinos.home__vinos
            .container
                .row
                    .col-xs-24
                        +section-title(site.data.home.vinos.titulo, 'h2', 'dash')
                        ul.home__vinos__list
                            each wine in site.data.home.vinos.vinos
                                li.home__vinos__list__item
                                    .home__vinos__list__item__data
                                        .home__vinos__list__item__img
                                            img(src=wine.imagen)
                                        h3.home__vinos__list__item__name= wine.nombre
                                    .home__vinos__list__item__actions
                                        each btn in wine.botones
                                            a._button(href=btn.url)= btn.texto
                                            
        section.home__historia
            .container-fluid
                .row
                    .col-xs-24.col-sm-12
                        .home__historia__img
                            img(src=site.data.home.historia.imagen)
                    .col-xs-24.col-sm-12
                        .home__historia__data
                            +section-title(site.data.home.historia.titulo, 'h2', 'dash')
                            p.home__historia__data__text= site.data.home.historia.texto
                            a._button(href=site.data.home.historia.boton.url)= site.data.home.historia.boton.nombre
                                        
        section.home__bodega
            .home__bodega__img
            .home__bodega__data
                +section-title(site.data.home.bodega.titulo, 'h2', 'dash')
                p.home__bodega__data__text= site.data.home.bodega.texto
                a._button(href=site.data.home.bodega.boton.url)= site.data.home.bodega.boton.nombre
                
        section.home__concepto    
            .container-fluid
                .row
                    .col-xs-24.col-sm-12
                        .home__concepto__data
                            +section-title(site.data.home.concepto.titulo, 'h2', 'dash')
                            p.home__concepto__data__text= site.data.home.concepto.texto
                            a._button(href=site.data.home.concepto.boton.url)= site.data.home.concepto.boton.nombre
                    .col-xs-24.col-sm-12
                        .home__concepto__video
                            a(href="#")
                                img(src=site.data.home.concepto.imagen)
                                
        section.home__pavillion    
            .container-fluid
                .row
                    .col-xs-24.col-sm-12
                        .home__pavillion__video
                            a(href="#")
                                img(src=site.data.home.pavillion.imagen)
                    .col-xs-24.col-sm-12
                        .home__pavillion__data
                            +section-title(site.data.home.pavillion.titulo, 'h2', 'dash')
                            p.home__pavillion__data__text= site.data.home.pavillion.texto
                            a._button(href=site.data.home.pavillion.boton.url)= site.data.home.pavillion.boton.nombre
            
        section.home__retreat    
            .container-fluid
                .row
                    .col-xs-24.col-sm-12
                        .home__retreat__data
                            +section-title(site.data.home.retreat.titulo, 'h2', 'dash')
                            p.home__retreat__data__text= site.data.home.retreat.texto
                            a._button(href=site.data.home.retreat.boton.url)= site.data.home.retreat.boton.nombre
                    .col-xs-24.col-sm-12
                        .home__retreat__video
                            a(href="#")
                                img(src=site.data.home.retreat.imagen)
                                
        section.home__map
            .hpme__map__img
                a(href="#")
                    img(src="/images/home/mapa.jpg")
            
            
