extends ../../_layouts/base

include ../../_modules/slider/slider
include ../../_modules/share/share
include ../../_modules/section-title/section-title
include ../../_modules/top-footer/top-footer

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../../'

block content
    main.bodega
        section.bodega__hero
            .container
                .row
                    .col-xs-24.col-sm-16.col-sm-offset-4
                        .bodega__hero__data
                            +section-title(site.data.vinavik.bodega.seccion1.titulo, 'h1', 'x')
                            p.bodega__hero__data__text= site.data.vinavik.bodega.seccion1.texto
                            +share
                
        section.bodega__break
            .container
                .row
                    .col-xs-24.col-sm-16.col-sm-offset-4
                        +section-title(site.data.vinavik.bodega.seccion2.titulo, 'h2', 'none')
                        p.bodega__break__subtitle=site.data.vinavik.bodega.seccion2.texto 
                        
        .bodega__parallax.bodega__parallax--one
        
        section.bodega__break
            .container
                .row
                    .col-xs-24.col-sm-16.col-sm-offset-4
                        p.bodega__break__subtitle=site.data.vinavik.bodega.seccion3.texto 
                        
        .bodega__parallax.bodega__parallax--two
        
        section.bodega__break
            .container
                .row
                    .col-xs-24.col-sm-16.col-sm-offset-4
                        p.bodega__break__subtitle=site.data.vinavik.bodega.seccion4.texto 

        .bodega__parallax.bodega__parallax--three
        
        section.bodega__break
            .container
                .row
                    .col-xs-24.col-sm-16.col-sm-offset-4
                        +section-title(site.data.vinavik.bodega.seccion5.titulo, 'h2', 'x')                    
                        p.bodega__break__subtitle=site.data.vinavik.bodega.seccion5.texto 

        .bodega__parallax.bodega__parallax--four
        
        section.bodega__break
            .container
                .row
                    .col-xs-24.col-sm-16.col-sm-offset-4
                        +section-title(site.data.vinavik.bodega.seccion6.titulo, 'h2', 'x')                    
                        p.bodega__break__subtitle=site.data.vinavik.bodega.seccion6.texto 

        .bodega__parallax.bodega__parallax--five
        
        section.bodega__break.bodega__reserva
            .container
                .row
                    .col-xs-24.col-sm-16.col-sm-offset-4
                        p.bodega__reserva__subtitle!=site.data.vinavik.bodega.seccion7.texto 

        +top-footer(['historia', 'vinos'])
